body{
        /* Set the default background color */
        background-color: white;   
        /* Enable the positioning of the pseudo element */
        position: relative;
      &::after {
          /* Set the new background color */
          background-color: black; 
          /* Render the pseudo element */
          content: "";             
          /* Cover the entire page with the pseudo element */
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          /* Render the new background color beneath the page content */
          z-index: -1;
          /* Toggle opacity between 0 and 1 (with styled-components) */
          opacity: ${props => props.darkMode ? 1 : 0};
          /* Animate opacity changes */
          transition: opacity 300ms;
        }
}

p{
    color: blueviolet;
}